.meta {
  margin: 0 0 2% 0;
  padding: 5% 0 2.5% 0;

  h1 {
    text-align: left;
    width: 100%;
    font-size: 8rem;
    line-height: 9rem;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
    margin: 0 0 2rem 0;
    color: #222;
  }

  h2 {
    padding: 0 0 2rem 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #ccc;
  }
}

.content-width {
  overflow: hidden;

  p {
    color: #333;
    margin: 0 auto;
    padding: 1rem 0;

    @include break(x-large) {
      font-size: 1.2rem;
      max-width: 32rem;
    }
    @include break(sm) {
      font-size: 1rem;
    }
  }
}

.left-col {
  float: left;
  width: 30%;
}

.main-col {
  float: left;
  with: 60%;
}

.external-links {
  width: auto;
  font-size: 1em;
}

.content-image {

  img {
    width: 200px;
  }
}
