.meta {
  margin: 6rem 0 3rem 0;

  @include break(md) {
    margin: 4rem 0 0 0;
  }

  h1 {
    text-align: left;
    width: 100%;
    font-size: 5rem;
    line-height: 7rem;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
    margin: 0 0 2rem 0;
    color: #222;

    @include break(sm) {
      font-size: 3.5rem;
      line-height: 3.9375rem;
    }
  }

  h2 {
    padding: 0 0 2rem 0;
    font-size: 1.91rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #ccc;

    @include break(sm) {
      font-size: 1.4rem;
      padding: 0 0 1.5rem 0;
    }
  }
}

.content-width {
  overflow: hidden;

  p {
    color: #333;
    margin: 0 auto;
    padding: 1rem 0;

    @include break(sm) {
      font-size: 1rem;
      line-height: 2rem;
    }
  }
}

.left-col {
  float: left;
  width: 30%;
}

.main-col {
  float: left;
  with: 60%;
}

.external-links {
  width: auto;
  font-size: 1em;
}

.content-image {

  img {
    width: 200px;
  }
}

// TODO - NEW FILE
.words {

  .musing {
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    border-bottom: 1px dotted #ddd;
    padding: 1rem;

    &:hover {
      background: #fafafa;
    }

    &:active {
      background: #f4f4f4;
    }
  }

  .title {
    font-weight: 600;
    text-transform: capitalize;
  }

  .date {
    display: block;
    color: #ccc;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
  }
}
