.article {
  background: #fff;
  padding: 400px 0 0 0;

  @include break(large) {
    padding: 1.5rem 4rem;
  }

  @include break(med) {
    padding: 4rem 1rem;
  }

  h1 {
    text-align: left;
    width: 100%;
    line-height: 8rem;
    border-bottom: 0px none;
    padding: 10% 0 0 0;
    text-transform: uppercase;
    font-size: 3.95rem;
    font-weight: 800;
    position: relative;
    color: #fff;

    @include break(x-large) {
      font-size: 10.5rem;
      line-height: 10.5rem;
    }

    @include break(large) {
      font-size: 8rem;
      line-height: 8rem;
    }

    @include break(med) {
      font-size: 6rem;
      line-height: 6rem;
    }

    @include break(sm) {
      font-size: 5rem;
      line-height: 5rem;
      margin: 0.5rem 0;
    }
  }

  h2 {
    background: #111;
    padding: 0 0 5% 0;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    color: #888;
    margin: 0 0 2rem 0;

    @include break(x-large) {
      font-size: 3.5rem;
    }
    @include break(large) {
      font-size: 3rem;
    }
    @include break(med) {
      font-size: 2.5rem;
    }
    @include break(sm) {
      font-size: 1.5rem;
    }
  }

  p {
    color: #333;
    margin: 0px auto;
    padding: 1rem 0px;
    width: 35rem;
    text-align: justify;

    @include break(x-large) {
      font-size: 1.2rem;
      max-width: 32rem;
    }
    @include break(sm) {
      font-size: 1rem;
    }
  }

  a {
    display: inline-block;
    padding: 0.2rem 0.3rem;
  }

  .meta {
      background: $grey-dark;
      position: absolute;
      top: 5rem;
      left: 0;
      right: 0;
      height: 400px;
  }
}

