// Base Styles
body {
  font-family: Gotham, sans-serif;
  font-size: 16px;
  font-weight: 300;
  overflow-x: hidden;
}

html, body, aside {
  height: 100%;
}

li {
  list-style: none;
}

code {
  font-family: monospace;
  background: #eeeeee;
  color: #444444;
  padding: 0.2rem 0.4rem;
  border-radius: 2px;
}

a {
  color: $accent;
  text-decoration: underline;

  &:hover {
    color: lighten($accent, 3%);
  }
}

a {
  outline: none;

  &:link, &:hover, &:active, &:visited {
    outline: none;
  }
}

nav a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

body.ready {
  .container {
    transition: left ease 0.7s;
  }
}

p, a {
  font-size: 1rem;
  line-height: 2rem;
}

strong {
  font-weight: 600;
}

i {
  font-style: italic;
}

// Layout
.container {
  margin: 0 auto;
  max-width: 32rem;
  width: 80%;
}

.main {
  @include break(sm) {
    margin: 3rem auto 0;
  }
}

