// BASE STYLES
body {
  font-family: Gotham, sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: $bg-dark;
  background: white;
  overflow-x: hidden;
}

li {
  list-style: none;
}

code {
  font-family: monospace;
  background: #eeeeee;
  color: #444444;
  padding: 0.2rem 0.4rem;
  border-radius: 2px;
}

footer p {
  color: $grey-med;
}
