nav {
  overflow: hidden;
  padding: 1.5rem 2rem;

  li {
    display: inline-block;
    padding: 0 0 0 3rem;
    float: left;
  }

  li:first-child {
    padding: 0 7rem 0 0;
  }

  a {
    font-size: 1.5rem;
    font-family: Brannboll;
    font-weight: 400;
    text-decoration: none;
    text-transform: lowercase;
    color: #bbb;

    &:hover {
      color: lighten(#bbb, 3%);
    }
  }
}

a.toggle {
  display: none;
  position: relative;
  top: 34px;
  left: 252px;
  line-height: 48px;
  font-size: 32px;
  width: 48px;
  text-align: center;
  cursor: pointer;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 2;

  @include break(small) {
    display: block;
  }

  @include break(med) {
    padding: 0 0 0 1rem;
    left: 220px;
    font-size: 1.5rem;
    width: 99rem;
    text-align: left;
    botder-bottom: 1px solid #eee;
    background: rgba(248, 248, 248, 0.8);
  }
}

