// Title, subtitle, date elements
.meta {
  margin: 6rem 0 3rem 0;

  @include break(md) {
    margin: 4rem 0 0 0;
  }

  // Huge primary title
  h1 {
    text-align: left;
    width: 100%;
    font-size: 5rem;
    line-height: 7rem;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
    margin: 0 0 2rem 0;
    color: #222;

    @include break(sm) {
      font-size: 3.5rem;
      line-height: 3.9375rem;
    }
  }

  // Smaller subtitle or date
  h2 {
    padding: 0 0 2rem 0;
    font-size: 1.91rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #ccc;

    @include break(sm) {
      font-size: 1.4rem;
      padding: 0 0 1.5rem 0;
    }
  }
}

// Wraps width of page content
.content-width {
  overflow: hidden;

  p {
    color: #333; // TODO - move to variable
    margin: 0 auto;
    padding: 1rem 0;

    @include break(sm) {
      font-size: 1rem;
      line-height: 2rem;
    }
  }
}

