// TYPOGRAPHY
h1 {
  font-size: em-calc(30);
  line-height: em-calc(40);
}

.work {
  h2 {
    font-size: 5em;
    text-align: center;
    margin: 1em 0;
    padding: 0.5em 0;
    background: rgba(255, 255, 255, 0.1);
  }

  p {
    color: #888888;
    margin: 0 0 0.5em 0;
    padding: 0 0 3em 0;
  }
}

.article {
  h1 {
    font-size: 12.5rem;
    font-weight: 600;
    line-height: 12.5rem;
    margin: 2rem 0;
  }

  h2 {
    font-size: 4.5rem;
    font-style: italic;
    font-weight: 800;
    color: $grey-med;
  }

  p {
    max-width: 35rem;
    width: 98%;
  }
}

h3 {
  text-transform: uppercase;
  color: #cccccc;
}

p, a {
  font-size: 1.4em;
  line-height: 1.8em;
}

p {
  padding: 0.5em 0;
}

