.work {

  h2 {
    font-size: 5em;
    text-align: center;
    margin: 1em 0;
    padding: 0.5em 0;
    background: rgba(255, 255, 255, 0.1);
  }

  p {
    color: #888888;
    margin: 0 0 0.5em 0;
    padding: 0 0 3em 0;
  }

  div {
    width: 42%;
    margin: 1.75% 2%;
    padding: 2%;
    background: rgba(255, 255, 255, 0.1);
  }
}

