// HELPER LIBRARIES
@import "compass/css3";
@import "compass/reset";

// VARIABLES
$grey-dark: #111;
$grey-med: #333;
$grey-light: #666;
$accent: #63baf9;

$sm: 500px;
$med: 600px;
$large: 900px;
$x-large: 1200px;

// MIXINS
@mixin break($point) {
  @if $point == x-large {
    @media (max-width: $x-large) {
      @content;
    }
  }

  @if $point == large {
    @media (max-width: $large) {
      @content;
    }
  }

  @if $point == med {
    @media (max-width: $med) {
      @content;
    }
  }

  @if $point == sm {
    @media (max-width: $sm) {
      @content;
    }
  }
}

@function em-calc($target) {
  @return $target / 16 * 1rem;
}

// TYPOGRAPHY
@font-face {
    font-family: "Brannboll";
    src: url("/fonts/brannboll.otf");
}

.inner-wrapper {
  margin: 0 auto;
  max-width: 40rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}

// PARTIALS
@import "base";
@import "header";
@import "footer";

// PAGES
@import "article";
@import "work";

