// Typography
$lightBlue: #1E80EB

@function em-calc($target)
  @return ($target/16)*1em
  
h1
  font-size: em-calc(30)
  line-height: em-calc(40)
  margin: 0 0.1em
  color: $lightBlue

.articles
  h1
    font-family: Georgia
    color: #ccc
    text-indent: -3em
    margin: 0 0 -1.9em 0
  h2
    text-transform: lowercase
    font-size: 1.2em
    border-top: none
    border-bottom: none
    padding: 0
    margin: 0
    text-align: left
    font-family: Georgia
  p
    color: #888
    margin: 0 0 0.5em 0
    padding: 0 0 3em 0

h2
  font-size: 5em
  text-align: center
  margin: 1em 0
  padding: 0.5em 0
  border-top: 1px solid #222
  border-bottom: 1px solid #222

h3
  text-transform: uppercase
  color: #ccc
  
p, a
  font-size: 1.4em
  line-height: 1.8em
  @media only screen and (max-width: 500px)
    font-size: 1.2em

p
  padding: 0.5em 0
