// variables
// $pageBg: #F8F6EC
$pageBg: #FFF
$wrapperColor: #F0F0F0
$border: 1px solid #eee
$anchorColor: #222
$hoverColor: #322e2e
$headerColor: #1E80EB
$copyDark: #131112
$copyLight: #888
$borderGrey: #ccc

$grey-light: #f8f8f8
$font-felt: "Brannboll"
