@import 'compass/css3'
@import 'reset'
@import 'variables'
@import 'typography'

// mixins
@mixin overflow_100
  overflow: hidden
  width: 100%

@mixin simple_sprite
  background-image: url(/images/simple.png)
  background-repeat: no-repeat
  background-size: 200px

// generic element styles
body
  position: relative
  background: $pageBg
  font-family: Georgia, serif
  font-weight: 200
  margin: 0
  padding: 2% 4%
  color: $copyDark
  span
    color: #8ba
  @media only screen and (max-width: 900px)
    padding: 2% 10%
  @media only screen and (max-width: 900px)
    padding: 3% 5%

article, footer
  max-width: 30rem
  width: 90%
  margin: 0 auto

h2
  color: $copyDark

header
  position: fixed
  @media only screen and (max-width: 900px)
    position: static
    +overflow_100
  h1
    float: left
    width: 125px
    height: 60px
    text-indent: -101em
    margin: 0
    +simple_sprite

// NAV
// ---
nav
  li
    font-style: italic
    margin: 0.3em 0
    @media only screen and (max-width: 900px)
      text-align: right
      height: 65px
      width: 85px
      float: right
      margin: 1.2em 0 0 0
  img
    width: 100px
  a
    color: $copyDark
    &:hover
      border-bottom: 2px solid $copyDark

#nav
  display: none

#menu
  display: block
  width: 49px
  height: 45px
  cursor: pointer
  background: $grey-light
  +border-radius(3px)
  span
    display: block
    width: 35px
    height: 35px
    padding: 7px 2px 3px 12px
    font-family: $font-felt
    font-size: 4.5em
    font-style: normal
    line-height: 35px
    color: darken($grey-light, 8)
    transition: 200ms

aside
  position: fixed
  bottom: 5%
  @media only screen and (max-width: 900px)
    width: 100%
    margin: 1em 0 4em 0
    position: static

.social
  width: 29px
  height: 29px
  display: block
  margin: 30px 0 0 0
  +simple_sprite
  @media only screen and (max-width: 900px)
    float: left
    margin: 0 30px 0 0

.icon_twitter
  background-position: -166px -10px

.icon_github
  background-position: -132px -10px

li
  list-style: none

a
  text-decoration: none
  color: $anchorColor

// ---------- GENERAL
.about, .article, .articles
  width: 600px
  margin: 0 0 0 23%

// ---------- ARTICLE
.article
  @media only screen and (max-width: 900px)
    width: 100%
    margin: 0
  img /* title add class */
    max-width: 90%

// ---------- ARTICLES

// ---------- WORK
.work
  overflow: hidden
  div
    float: left
    width: 42%
    margin: 1.75% 2%
    padding: 2%
    background: #FFE000
  @media only screen and (max-width: 1200px)
    width: 600px
    margin: 0 0 0 23%
    div
      width: 100%
  @media only screen and (max-width: 900px)
    width: 100%
    margin: 0 auto

// ---------- ABOUT

// ---------- WORK
.work
  margin: 0 0 0 13%
  width: 87%

// ---------- FOOTER
footer
  p
    text-align: left
    color: $copyLight
  @media only screen and (max-width: 900px)
    width: 100%
    margin: 0
