@import 'compass/css3'
@import 'reset'
@import 'variables'
@import 'typography'

// VARIABLES
$bg-dark: #00000a
$accent-yellow: #fefe6a
$accent-blue: #5b9ff3

// MIXINS
@mixin overflow_100
  overflow: hidden
  width: 100%

@mixin simple_sprite
  background-image: url(/images/simple.png)
  background-repeat: no-repeat
  background-size: 200px

// generic element styles
body
  font-family: Gotham, sans-serif
  font-size: 16px
  font-weight: 200
  color: #fff
  background: $bg-dark
  overflow-x: hidden
  @media only screen and (max-width: 900px)
    padding: 2% 10%
  @media only screen and (max-width: 900px)
    padding: 3% 5%

li
  list-style: none

a
  color: $anchorColor
  text-decoration: none

code
  font-family: monospace
  background: #eee
  color: #444
  padding: 0.2rem 0.4rem
  border-radius: 2px

.logotype-wrapper
  display: block
  margin: 0 0 1rem 0

.logotype
  display: block
  text-transform: none
  text-align: center
  font-family: Brannboll
  font-size: 2em
  line-height: 200px
  width: 200px
  color: $bg-dark
  background: $accent-yellow
  &:hover
    color: $bg-dark
  img
    height: 1em

.social
  background-image: url("/images/social-sprite.png")
  background-repeat: no-repeat
  background-size: auto 30px
  background-color: $accent-yellow
  width: 30px
  height: 30px
  position: relative
  display: block

.icon-github
  background-position: 0 0
  top: 0
  left: 0

.icon-twitter
  background-position: -30px 0
  top: -30px
  left: 50px

.icon-linkedin
  background-position: -60px 0
  top: -60px
  left: 100px

.article
  padding: 3rem 5rem
  position: relative
  h1
    font-size: 12.5rem
    font-weight: 600
    line-height: 12.5rem
    margin: 2rem 0
  h2
    font-size: 4.5rem
    font-style: italic
    font-weight: 800
    color: $accent-yellow
  p
    max-width: 35rem
    width: 98%

// ---------- ARTICLES

// ---------- WORK
.work
  background: $bg-work
  div
    width: 42%
    margin: 1.75% 2%
    padding: 2%
    background: rgba(255, 255, 255, 0.1)
  @media only screen and (max-width: 1200px)
    width: 600px
    margin: 0 0 0 23%
    div
      width: 100%
  @media only screen and (max-width: 900px)
    width: 100%
    margin: 0 auto

.nav-toggle
  position: absolute
  top: 16px
  left: 16px
  z-index: 3
  line-height: 48px
  font-size: 32px
  width: 48px
  text-align: center
  color: $accent-yellow

nav
  display: none
  height: 245px
  margin: 16px
  padding: 16px
  border: 8px solid $accent-yellow
  ul
    overflow: hidden
  a
    font-weight: 400
    color: $accent-yellow
    &:hover
      color: #fff
      +transition(color ease 0.5s)

aside
  position: fixed
  top: 0
  left: -1px
  height: 100%
