@import 'compass/css3'
@import 'reset'
@import 'typography'

// variables
$pageBg: #F8F6EC
$wrapperColor: #F0F0F0
$border: 1px solid #eee
$anchorColor: #222
$hoverColor: #322e2e
$copyDark: #131112
$copyLight: #888

// mixins
@mixin overflow_100
  overflow: hidden
  width: 100%

@mixin simple_sprite
  background-image: url(/images/simple.png)
  background-repeat: no-repeat
  background-size: 200px

// generic element styles
body
  position: relative
  background: $pageBg
  font-family: Georgia, serif
  font-weight: 200
  margin: 0
  padding: 2% 4%
  color: $copyDark
  span
    color: #8ba
  @media only screen and (max-width: 900px)
    padding: 2% 10%
  @media only screen and (max-width: 900px)
    padding: 3% 5%

h2
  color: $copyDark

header
  position: fixed
  @media only screen and (max-width: 900px)
    position: static
    +overflow_100
  h1
    float: left
    width: 125px
    height: 60px
    text-indent: -101em
    margin: 0
    +simple_sprite

nav
  img
    width: 100px
  li
    font-style: italic
    margin: 0.3em 0
    @media only screen and (max-width: 900px)
      text-align: right
      height: 65px
      width: 85px
      float: right
      margin: 1.2em 0 0 0
  a
    color: $copyDark
    &:hover
      border-bottom: 2px solid $copyDark

aside
  position: fixed
  bottom: 5%
  @media only screen and (max-width: 900px)
    width: 100%
    margin: 1em 0 4em 0
    position: static

.social
  width: 30px
  height: 30px
  display: block
  margin: 30px 0 0 0
  +simple_sprite
  @media only screen and (max-width: 900px)
    float: left
    margin: 0 30px 0 0

.icon_twitter
  background-position-y: -8px
  background-position-x: -165px

.icon_github
  background-position-y: -8px
  background-position-x: -132px

footer
  p
    text-align: left
    color: $copyLight

li
  list-style: none

a
  text-decoration: none
  color: $anchorColor

// ---------- GENERAL
.about, .article, .articles, footer
  width: 600px
  margin: 0 0 0 23%

footer
  @media only screen and (max-width: 900px)
    width: 100%
    margin: 0

.work
  margin: 0 0 0 13%
  width: 87%

// ---------- ARTICLE
.article
  @media only screen and (max-width: 900px)
    width: 100%
    margin: 0
  img /* title add class */
    max-width: 90%

// ---------- ARTICLES
.articles
  display: block

// ---------- WORK
.work
  overflow: hidden
  div
    float: left
    width: 42%
    margin: 1.75% 2%
    padding: 2%
    background: #FFE000
  @media only screen and (max-width: 1200px)
    width: 600px
    margin: 0 0 0 23%
    div
      width: 100%
  @media only screen and (max-width: 900px)
    width: 100%
    margin: 0 auto

// ---------- ABOUT
.about
  display: block
