<h2>about</h2>
<p>Hi, my name is Maxwell and I am a software engineer and designer from New York who specializes in client-side web development. I'm currently working with the lovely people at <a href="http://wwww.dosomething.org/">DoSomething.org</a>.</p>

<p>If you want to get in touch, feel free to <a href="mailto:hi@mmwtsn.com?subject:Hello!">drop me a line</a> or find me on <a href="https://twitter.com/mmwtsn">Twitter</a>.</p>
