<!doctype html>
<html>
  <head>
    <link href="/css/styles.css" rel="stylesheet">
    <title>mmwtsn » <%= @page %></title>
    <meta charset="utf8">
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7853452/754242/css/fonts.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/script.js"></script>
  <head>

  <body>
    <aside>
      <a id="nav-toggle" class="nav-toggle" href="#">&#9776;</a>

      <nav role="navigation">
        <ul>
          <li class="logotype-wrapper"><a href="/" class="logotype"><img src="/images/logotype.png" alt="M. Maxwell Watson" /></a></li>
          <li><a class="social icon-github" href="https://github.com/mmwtsn"></a></li>
          <li><a class="social icon-twitter" href="https://twitter.com/mmwtsn"></a></li>
          <li><a class="social icon-linkedin" href="https://linkedin.com/in/mmwtsn"></a></li>
        </ul>
      </nav>
    </aside>

    <section class="<%= @class %> wrapper">
      <%= yield %>

      <footer>
        <p>&copy; m. maxwell watson 2013</p>
      </footer>
    </section>
  </body>
</html>
