<!doctype html>
<html>
  <head>
    <title>mmwtsn » <%= @title %></title>

    <!--

      $$\   $$\           $$\ $$\               
      $$ |  $$ |          $$ |$$ |              
      $$ |  $$ | $$$$$$\  $$ |$$ | $$$$$$\      
      $$$$$$$$ |$$  __$$\ $$ |$$ |$$  __$$\     
      $$  __$$ |$$$$$$$$ |$$ |$$ |$$ /  $$ |    
      $$ |  $$ |$$   ____|$$ |$$ |$$ |  $$ |    
      $$ |  $$ |\$$$$$$$\ $$ |$$ |\$$$$$$  |$$\ 
      \__|  \__| \_______|\__|\__| \______/ \__|

      This markup isn't very interesting.

      If you want to see the full source for
      this website, check it out on GitHub:
      
      https://github.com/mmwtsn/mmwtsn

    -->

    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7853452/754242/css/fonts.css" />
    <link rel="icon" type="image/png" id="favicon" href="/images/favicon.png" />
    <link href="/css/styles.css" rel="stylesheet">
  </head>

  <body class="closed">
    <header class="header container">
      <nav class="nav" role="navigation">
        <button id="nav-toggle" class="toggle" href="#">&#9776;</button>

        <ul>
          <li><a class="logotype" href="/">mmwtsn</a></li>
          <li><a class="plain" href="/words">words</a></li>
          <li><a class="plain" href="/work">work</a></li>
          <li><a class="plain" href="/about">about</a></li>
        </ul>
      </nav>
    </header>

    <main class="main container" role="main">
      <%= yield %>
    </main>

    <footer class="footer container">
      <p>&copy; m. maxwell watson <%= DateTime.now.year %></p>

      <li class="external-link"><a class="social github" href="https://github.com/mmwtsn"></a></li>
      <li class="external-link"><a class="social twitter" href="https://twitter.com/mmwtsn"></a></li>
      <li class="external-link"><a class="social linkedin" href="https://www.linkedin.com/in/mmwtsn"></a></li>
    </footer>

    <script src="/js/script.js" type="text/javascript"></script>
  </body>
</html>

