<!doctype html>
<!--[if IE 8]>         <html class="lt-ie9">  <![endif]-->
<!--[if gt IE 8]><!--> <html class="gt-ie9">  <!--<![endif]-->

  <head>
    <link href="/css/styles.css" rel="stylesheet">
    <title>mmwtsn » <%= @page %></title>
    <meta charset="utf8">
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7853452/754242/css/fonts.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/script.js"></script>
  <head>

  <body>
    <aside>
      <a id="toggle-nav" href="#">&#9776;</a>

      <nav role="navigation">
        <ul>
          <li class="logotype-wrapper"><a href="/" class="logotype">mmwtsn</a></li>
          <li><a href="/words">words</a></li>
          <li><a href="/work">work</a></li>
          <li><a href="/about">about</a></li>
        </ul>
      </nav>

      <!--
      <a class="social icon-twitter" href="https://twitter.com/mmwtsn"></a>
      <a class="social icon-github" href="https://github.com/mmwtsn"></a>
      <a class="social icon-linkedin" href="https://linkedin.com/in/mmwtsn"></a>
      -->
    </aside>

    <section class="<%= @class %> wrapper">
      <%= yield %>
    </section>

    <!--
    <footer>
      <p>&copy; m. maxwell watson 2013</p>
    </footer>
    -->
  </body>
</html>
