<div class="content-width">
  <div class="left-col">
    <div class="content-image">
      <img src="http://doodles.typepad.com/.a/6a00d8341df41a53ef01156faccaf1970c-800wi" alt="" />
    </div>

    <div class="external-links">
      <a href="#">discuss on hacker news</a>
      <a class="tag" href="#">ruby</a>
      <a class="tag" href="#">design</a>
    </div>
  </div>

  <div class="main-col">
    <%= @content %>
  </div>
</div>
