<h1>2013</h1>
<h2><a href="/musings/first/">The Undefeated</a></h2>
<p>january 3, 2013</p>
<h2><a href="/musings/first/">Big Two-Hearted River, Part I</a></h2>
<p>june 14, 2013</p>
<h1>2012</h1>
<h2><a href="/musings/first/">Big Two-Hearted River, Part II</a></h2>
<p>may 7, 2012</p>
<h2><a href="/musings/first/">God Rest You Merry, Gentlemen</a></h2>
<p>march 23, 2012</p>
<h2><a href="/musings/first/">Hills Like White Elephants</a></h2>
<p>march 12, 2012</p>
<h2><a href="/musings/first/">Che Ti Dice La Patria?</a></h2>
<p>february 27, 2012</p>
<h2><a href="/musings/first/">A Natural History of the Dead</a></h2>
<p>february 5, 2012</p>
<h2><a href="/musings/first/">The Gambler, the Nun, and the Radio</a></h2>
<p>january 23, 2012</p>
