<div class="inner-wrapper posts">
  <div class="meta">
    <h1>musings</h1>
    <h2>on code, coffee &amp; design</h2>
  </div>
  <% @posts.each_index do |i| %>
    <a class="post" href="<%= @posts[i][:post_url] %>">
      <span class="title"><%= @posts[i][:post_title] %></span>
      <time class="date" datetime="<%= @posts[i][:numerical_date] %>"><%= @posts[i][:english_date] %></time>
    </a>
  <% end %>
</div>

