<div class="inner-wrapper words">
  <h1>words</h1>
  <h2>Collected blog posts, thoughts and tutorials</h2>
  <% @musings.each_index do |i| %>
    <a class="musing" href="<%= @musings[i][:post_url] %>">
      <span class="title"><%= @musings[i][:post_title] %></span>
      <time class="date" datetime="<%= @musings[i][:numerical_date] %>"><%= @musings[i][:english_date] %></time>
    </a>
  <% end %>
</div>
