<div class="meta">
  <h1>portfolio</h1>
  <h2>a collection of recent work</h2>
</div>

<div class="inner-wrapper">
  <section class="work-sample">
    <figure>
      <img src="http://placehold.it/300/ddd/aaa" alt="">

      <figcaption>
        <a href="#">tag 1</a>
        <a href="#">tag 2</a>
      </figcaption>
    </figure>

    <div class="work-description">
      <h2>thing one</h2>
      <p>lorem ipsum delor</p>
    </div>
  </section>

  <section class="work-sample">
    <figure>
      <img src="http://placehold.it/300/ddd/aaa" alt="">

      <figcaption>
        <a href="#">tag 1</a>
        <a href="#">tag 2</a>
      </figcaption>
    </figure>

    <div class="work-description">
      <h2>thing one</h2>
      <p>lorem ipsum delor</p>
    </div>
  </section>

  <section class="work-sample">
    <figure>
      <img src="http://placehold.it/300/ddd/aaa" alt="">

      <figcaption>
        <a href="#">tag 1</a>
        <a href="#">tag 2</a>
      </figcaption>
    </figure>

    <div class="work-description">
      <h2>thing one</h2>
      <p>lorem ipsum delor</p>
    </div>
  </section>

  <section class="work-sample">
    <figure>
      <img src="http://placehold.it/300/ddd/aaa" alt="">
     
      <figcaption>
        <a href="#">tag 1</a>
        <a href="#">tag 2</a>
      </figcaption>
    </figure>

    <div class="work-description">
      <h2>thing one</h2>
      <p>lorem ipsum delor</p>
    </div>
  </section>

  <section class="work-sample">
    <figure>
      <img src="http://placehold.it/300/ddd/aaa" alt="">
     
      <figcaption>
        <a href="#">tag 1</a>
        <a href="#">tag 2</a>
      </figcaption>
    </figure>

    <div class="work-description">
      <h2>thing one</h2>
      <p>lorem ipsum delor</p>
    </div>
  </section>

  <section class="work-sample">
    <figure>
      <img src="http://placehold.it/300/ddd/aaa" alt="">

      <figcaption>
        <a href="#">tag 1</a>
        <a href="#">tag 2</a>
      </figcaption>
    </figure>

    <div class="work-description">
      <h2>thing one</h2>
      <p>lorem ipsum delor</p>
    </div>
  </section>

  <section class="work-sample">
    <figure>
      <img src="http://placehold.it/300/ddd/aaa" alt="">

      <figcaption>
        <a href="#">tag 1</a>
        <a href="#">tag 2</a>
      </figcaption>
    </figure>

    <div class="work-description">
      <h2>thing one</h2>
      <p>lorem ipsum delor</p>
    </div>
  </section>

  <section class="work-sample">
    <figure>
      <img src="http://placehold.it/300/ddd/aaa" alt="">

      <figcaption>
        <a href="#">tag 1</a>
        <a href="#">tag 2</a>
      </figcaption>
    </figure>

    <div class="work-description">
      <h2>thing one</h2>
      <p>lorem ipsum delor</p>
    </div>
  </section>
</div>
