<div>
  <h2>thing one</h2>
  <p>lorem ipsum delor</p>
  <a href="#">tag 1</a>
  <a href="#">tag 2</a>
</div> <!-- work sample #1 -->
<div>                        
  <h2>thing two</h2>         
  <p>lorem ipsum delor</p>   
  <a href="#">tag 1</a>      
  <a href="#">tag 2</a>      
</div> <!-- work sample #2 -->
<div>                        
  <h2>thing three</h2>       
  <p>lorem ipsum delor</p>   
  <a href="#">tag 1</a>      
  <a href="#">tag 2</a>      
</div> <!-- work sample #3 -->
<div>                        
  <h2>thing four</h2>        
  <p>lorem ipsum delor</p>   
  <a href="#">tag 1</a>      
  <a href="#">tag 2</a>      
</div> <!-- work sample #4 -->
<div>                        
  <h2>thing five</h2>        
  <p>lorem ipsum delor</p>   
  <a href="#">tag 1</a>      
  <a href="#">tag 2</a>      
</div> <!-- work sample #5 -->
<div>                        
  <h2>thing sixx</h2>         
  <p>lorem ipsum delor</p>   
  <a href="#">tag 1</a>      
  <a href="#">tag 2</a>      
</div> <!-- work sample #6 -->
<div>                        
  <h2>thing seven</h2>       
  <p>lorem ipsum delor</p>   
  <a href="#">tag 1</a>      
  <a href="#">tag 2</a>      
</div> <!-- work sample #7 -->
<div>                        
  <h2>thing eight</h2>       
  <p>lorem ipsum delor</p>   
  <a href="#">tag 1</a>      
  <a href="#">tag 2</a>      
</div> <!-- work sample #8 -->
